# Python / env
__pycache__/
*.pyc
.venv/
env/

# Local environment and secrets
.env
data/old/

# OS / editor
.DS_Store
*.swp
*.swo

# Local project docs to ignore
project_desc.txt
project_steps.txt


